---
import Main from '../layouts/main.astro';
---

<Main>
  <h1>Contact</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit, orci non vulputate porta, sem erat
    lacinia sem, ac tincidunt nibh turpis a turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia curae; Proin ullamcorper ac diam et porttitor. Proin mollis enim eros, sed rutrum nunc fermentum
    sed. Nullam fermentum auctor leo, in pretium turpis varius non. Cras euismod est eget dolor pharetra semper. Nulla
    ut dictum dolor, vel vestibulum velit. Morbi arcu ipsum, interdum id iaculis id, rutrum sed enim. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam imperdiet turpis at risus rhoncus,
    in mollis odio aliquam. Praesent eget eros purus. Praesent imperdiet id diam a rutrum. Nam laoreet ullamcorper
    sapien, eget tincidunt magna dictum rutrum. Nam ut cursus magna
  </p>
</Main>
