---
import Layout from './layout.astro';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
  </head>
  <body class='prose max-w-none bg-custom-background'>
    <Layout>
      <slot />
    </Layout>
  </body>
</html>
